[Desktop Entry]
Encoding=UTF-8
Name=Xpcd
Name[eo]=X-Fotodisko
Comment=PhotoCD tools
Comment[af]=Photocd nutsprogramme
Comment[ar]=أدوات PhotoCD
Comment[az]=PhotoCD vasitələri
Comment[be]=Інструмэнты PhotoCD
Comment[bg]=Инструменти за PhotoCD
Comment[bs]=PhotoCD alati
Comment[cs]=Nástroje pro PhotoCD
Comment[da]=PhotoCD-værktøjer
Comment[de]=Photo-CD-Programme
Comment[el]=Εργαλεία PhotoCD
Comment[eo]=Iloj por fotodiskoj
Comment[es]=Herramientas PhotoCD
Comment[et]=PhotoCD tööriistad
Comment[eu]=PhotoCD tresnak
Comment[fi]=PhotoCD-työkalut
Comment[fr]=Outils pour PhotoCD
Comment[he]=כלי PhotoCD
Comment[hu]=PhotoCD-kezelő segédprogramok
Comment[is]=PhotoCD tól
Comment[it]=Strumenti per PhotoCD
Comment[ja]=PhotoCDツール
Comment[lt]=PhotoCD įrankiai
Comment[lv]=PhotoCD rīki
Comment[mt]=Għodda PhotoCD
Comment[nb]=PhotoCD-verktøy
Comment[nl]=foto-cd-hulpprogramma's
Comment[nn]=PhotoCD-verktøy
Comment[pl]=Narzędzia PhotoCD
Comment[pt]=Ferramentas de PhotoCDs
Comment[pt_BR]=Ferramenta  Foto - CD
Comment[ro]=Utilitare pentru PhotoCD
Comment[ru]=Утилиты PhotoCD
Comment[sk]=Nástroje PhotoCD
Comment[sl]=Orodja za delo s PhotoCD
Comment[sv]=PhotoCD-verktyg
Comment[th]=เครื่องมือ PhotoCD
Comment[tr]=PhotoCD araçları
Comment[uk]=Засоби для Фото-КД
Comment[ven]=Zwishumiswa zwa Zwifanyiso zwa CD
Comment[vi]=Công cụ PhotoCD
Comment[xh]=Izixhobo ze PhotoCD
Comment[zh_CN]=PhotoCD 工具
Comment[zh_TW]=PhotoCD 工具組
Comment[zu]=Amathuluzi ezithombe ze CD
Exec=xpcd
Terminal=false
Icon=xpcd.png
Type=Application
# vi: encoding=utf-8
